@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #10222e, #01111e);
}

h1, h3 {
    font-family: 'Caveat', cursive;
}

h1,
button {
    user-select: none;
}

button {
    box-sizing: border-box;
    border: solid 1px transparent;
}

button:focus {
    outline: none;
}

textarea {
    resize: none;
    min-width: none;
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.note-selection {
    width: 256px;
    min-width: 256px;
    overflow: scroll;
    border: 1px solid #004C5B;
    border-right: none;
}

.note-editor {
    border: 1px solid #004C5B;
    border-left: none;
}

.note-card {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.modal-header {
    background: linear-gradient(90deg, #00C6B1, #004C5B);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
    background-color: transparent !important; /* Maintain the transparency */
    box-shadow: 0 0 0px 1000px transparent inset; /* Override any background */
}

.contact input:-webkit-autofill,
.contact input:-webkit-autofill:hover, 
.contact input:-webkit-autofill:focus, 
.contact input:-webkit-autofill:active  {
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s;
    background-color: transparent !important; /* Maintain the transparency */
    box-shadow: 0 0 0px 1000px transparent inset; /* Override any background */
}