@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #10222e, #01111e);
}

h1 {
    font-family: 'Caveat', cursive;
}

h1,
button {
    user-select: none;
}

button:focus {
    outline: none;
}

textarea {
    resize: none;
    min-width: none;
}

textarea:focus {
    outline: none;
}

.note-selection {
    width: 256px;
    min-width: 256px;
    overflow: scroll;
    border: 1px solid #004C5B;
    border-right: none;
}

.note-editor {
    border: 1px solid #004C5B;
    border-left: none;
}

.note-card {
    width: inherit;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}